{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-group">
        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.name, { 'attr': {'class': 'input'}}) }}
        <div class="form-group__errors">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.country, 'Country', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.country, { 'attr': {'class': 'input'}}) }}
        <div class="form-group__errors">
            {{ form_errors(form.country) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.city, 'City', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.city, { 'attr': {'class': 'input'}}) }}
        <div class="form-group__errors">
            {{ form_errors(form.city) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="form__actions">
        <button class="btn btn--primary">{{ button_label|default('Save') }}</button>
        <a class="btn btn--secondary" href="{{ path('app_stadium_index') }}">Cancel</a>
    </div>
{{ form_end(form) }}
